<div class="content">
    <div class="header"> 
        <div class="" data-animatename="step1" data-animatetime='1'>  

          <div>
            <div class="alignbase">
              <div class="{{this.service.data.default.main[1].children[service.parentIndex].mybox}} mybox">
          </div>
          <div>
            <h1 >CNS Nutrients</h1>
         </div>
       </div>

         </div>


<!-- ///////////////////////////////////using flex-box////////////////////////////////////////////////////// -->
         <div *ngIf = "firstcontent == true">
        <p class="m-0 pt-2">Our nutrient-focused methods create calculated nutrients like AAD-IDX and other proprietary nutrients that only Cargill and our customers can use. These proprietary calculated nutrients support the different needs in a pork system.</p>



    <div class="flex-container ">

        <div class="notebg f-16" (click) = "show1()"><img class="tick" src="assets/tick.svg" *ngIf = "this.visit1 == true">Swine Fermentable Protein<br> (SW GUT FP)<br><br> Swine Fermentable  Carbohydrates (SW CHO FRM) </div>
        <div class="notebg f-16" (click) = "show2()"><img class="tick" src="assets/tick.svg" *ngIf = "this.visit2 == true">Swine Net Energy<br> (SW CNE)</div>
    </div>
        <div class="flex-container f-16">
        <div class="notebg f-16" (click) = "show3()"><img class="tick" src="assets/tick.svg" *ngIf = "this.visit3 == true">Phytase Index<br> (PHY IDX)</div>
        <div class="notebg f-16" (click) = "show4()"><img class="tick" src="assets/tick.svg" *ngIf = "this.visit4 == true">Swine Structural Carbohydrates<br> (SW CHO STR)</div>

      </div>
</div>

<div class="note pt-2" *ngIf = "firstcontent == true">
    For additional details, see “Unique Cargill pork nutrients” modules.
</div>


<!-- /////////////////////////////Nutrient Digestibility & Energy ////////////////////////////////////////////-->
<div class="pt-5 flex fjcenter">
    <div >

        <div class="pop-up" *ngIf = "pop1 == true">
            <div class="flex fjend"> 
            <div class="close closenew" (click) = "closeall()">X</div>
            </div>
              <div class="text1 ">
                  <h3 class="text-center"><b>Swine Fermentable Protein<br> (SW GUT FP)<br><br> Swine Fermentable  Carbohydrates <br>(SW CHO FRM) </b></h3>
                 <p>Our <span class="yel">Fermentable Protein</span> and <span class="yel">Fermentable Carbohydrate</span> nutrient approach leads to improved gut health critical to pig wellbeing.</p>
              </div>
        </div>
  <!-- /////////////////////////////Nutrient Digestibility & Energy ////////////////////////////////////////////-->
  
  
  <!-- /////////////////////////////Amino Acids ////////////////////////////////////////////-->
        <div class="pop-up" *ngIf = "pop3 == true">
          <div class="flex fjend"> 
              <div class="close closenew" (click) = "closeall()">X</div>
              </div>
              <div class="text1 ">
                  <h3 class="text-center"><b>Phytase Index<br> (PHY IDX)</b></h3>
                  <p>Our <span class="yel">Phytase Index</span> helps pigs absorb and use phosphorous for improved growth. It also helps Cargill and customers find the most cost-effective source of phytase in diets.</p>
               </div>
      </div>
  <!-- /////////////////////////////Amino Acids ////////////////////////////////////////////-->
  
  
  <!-- /////////////////////////////Milk Composition ////////////////////////////////////////////-->
      <div class="pop-up" *ngIf = "pop2 == true">
          <div class="flex fjend"> 
              <div class="close closenew" (click) = "closeall()">X</div>
              </div>
              <div class="text1 ">
                  <h3 class="text-center"><b>Swine Net Energy<br> (SW CNE)</b></h3>
                  <p>The <span class="yel">Net Energy</span> model supports 5 different life stages to deliver more efficient growth across the entire production cycle.</p>
               </div>
      </div>
  <!-- /////////////////////////////Milk Composition ////////////////////////////////////////////-->
  
  
  <!-- /////////////////////////////Rumen Environment​ ////////////////////////////////////////////-->
  
      <div class="pop-up" *ngIf = "pop4 == true">
          <div class="flex fjend"> 
              <div class="close closenew" (click) = "closeall()">X</div>
              </div>
              <div class="text1 ">
                  <h3 class="text-center"><b>Swine Structural Carbohydrates<br> (SW CHO STR)</b></h3>
                  <p>Our <span class="yel">Structural Carbohydrates</span> approach improves performance and health for piglets which creates higher grow rate and livability.</p>
               </div>
      </div>
  </div>
</div>
    <!-- /////////////////////////////Rumen Environment​ ////////////////////////////////////////////-->


<!-- ///////////////////////////////////using flex-box - end ////////////////////////////////////////////////////// -->
</div>
</div>
</div>

