@import '../../variable';

.tit_wid{
    background-color: #eee;
    padding: 10px;
}
.cnt_wid{
    width: 225px;
    padding: 10px;
}
table, th, td {
    border: 1px solid #eee;
    border-collapse: collapse;
    padding: 10px;
  }