<div class="content">
    <div class="header">
        <div class="" data-animatename="step1" data-animatetime='1'>

            <div *ngIf="this.selected ==-1">
                <div class="alignbase">
                    <div class="{{this.service.data.default.main[1].children[service.parentIndex].mybox}}mybox">
                    </div>
                    <div>
                        <h1>CNS is delivered through customized solutions</h1>
                    </div>
                </div>

            </div>
            <div *ngIf="this.selected ==-1">
                <p>Nutrient concepts combined with management tools and digital software to support each life phase.</p>
            </div>

            <!-- <div class="flex">
                <div class="tit_wid" daflex-1ta-animatename="step1" data-animatetime='1'>
                    <h4><b>Customized solution</b></h4>
                   
                  </div>
                  <div class="">
                    <h4><b>What it does</b></h4>
                  </div>
            </div>
            <div class="flex">
                <div class="tit_wid" daflex-1ta-animatename="step1" data-animatetime='1'>
                    <img class="icns_wid" src="assets/m3_img5.jpg" alt="">
                   
                  </div>
                  <div class=""><p>Nutrient concept that improves Young Pig growability</p>
              
                  </div>
            </div> -->

            <div class="margin-top">
              <table *ngIf="this.selected ==-1">
                <tr>
                  <th>Customized solution</th>
                  <th>What it does</th> 
            
                </tr>
                <tr *ngFor="let item of content; let i = index">
                  <td class="center-text" (click)="show(i)">
                    <img class="icns_wid " src="{{item.img}}" alt="" class="pointer">
                    <img class="tick" src="{{item.img}}" *ngIf = "this.visit[i] == true">
                  </td>
                  <td>{{item.text}}</td>

                  
                  
                </tr>
                <!-- <tr>
                  <td class="center-text">
                    <img class="icns_wid" src="assets/m3_img5.jpg" alt="">
                  </td>
                  <td>Nutrient concept that improves Young Pig growability</td>
                  
                </tr>
                <tr>
                    <td class="center-text">
                      <img class="icns_wid" src="assets/m3_img6.jpg" alt="">
                    </td>
                    <td>Nutrient concept that enhances Sow productivity & Piglet livability</td>
                    
                  </tr>
                  <tr>
                    <td class="center-text">
                      <img class="icns_wid" src="assets/m3_img7.jpg" alt="">
                    </td>
                    <td>Nutrient concept that increases Grower-Finisher profitability</td>
                    
                  </tr>
                  <tr>
                    <td class="center-text">
                      <img class="icns_wid" src="assets/m3_img8.png" alt="">
                    </td>
                    <td>Software platform that optimizes nutrition & modeling</td>
                    
                  </tr>
                  <tr>
                    <td class="center-text">
                      <img class="icns_wid" src="assets/m3_img9.png" alt="">
                    </td>
                    <td>Software platform that creates efficiencies in the ingredient and nutrient supply chain</td>
                    
                  </tr> -->
               
              </table>
            </div>

              <div class="" *ngFor="let item of content; let i = index">

                <div class="pop-up" *ngIf = "selected == i">
                    <div class="flex fjend"> 
                    <div class="close closenew" (click) = "close(i)">X</div>
                    </div>   
                      <div class="padding-bottom"><img src="{{item.img}}" alt=""></div>
                      <div class="text1 " *ngIf = "selected1 != i" [innerHTML]="item.Popup"> </div>             
                      <div class="text1 " *ngIf = "selected1 == i" [innerHTML]="item.Popup1">
                      
                </div>
                <div>
                  <div class="instruction pointer" (click)="show1(i)" *ngIf = "selected1 != i">
                    {{item.instruction}}
                  </div>
                  <div class="note" *ngIf="item.note">{{item.note}}</div>
                </div>
              </div>

        </div>
    </div>
</div>