@import '../../variable';

.tit_wid{
    background-color: #eee;
    padding: 10px;
}
.cnt_wid{
    width: 225px;
    padding: 10px;
}
table{
    margin: 50px auto;
    // table-layout: fixed;
    // width: 100%;
}
table, th, td {
    border: 1px solid #eee;
    border-collapse: collapse;
    padding: 10px;
  }

  th{

    font-size: 28px;
    font-weight: bold;
  }

  .pop-up
{
  width: 90%;
  // margin-left: 100px;

  .text
  {
    padding-left: 150px;
   
  }
}

.close{
    text-align: right;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    font-size: 20px;
    font-weight: bold;
    color: #fff;
    background-color: $primary;
    cursor: pointer;
    position: relative;
    z-index: 10000;
    transition-duration: 0.4s;
}

.close:hover {
  background-color: #fff;
  border: 2px solid $primary;
  color: $primary;
}

// .pop-up{
//     width: 94%;
   
  
// }

.closenew{
  margin-bottom: -30px;
}