<div class="grid-center  fadeIn">
  <div class="text-image">

    
    <div class="flex fcenter fjcenter" data-animatename="step1" data-animatetime='1'>
      <h1>{{service.content.title.text}}</h1>
      <div class="pad-20" >
        <img class="maximg" src="{{service.content.image.src}}">
      </div>
    </div>
    <!-- <div class="content">
      <div class="images" data-animatename="step1" data-animatetime='3'>
        <p [innerHtml]="service.content.para.text"></p>
      </div>
      <div class="flexbetween flexblock">
        <div class="images" *ngFor="let data of service.content.image" data-animatename="step1" data-animatetime='4'>
          <img src="{{data.src}}">
        </div>
      </div>

      <div *ngIf="service.content.cardhead">
        <h3 data-animatename="step1" data-animatetime='7'>{{service.content.cardhead}}</h3>
      </div>
      <div class="flex flexblock" *ngIf="service.content.cards">

        <div class="cards" *ngFor="let data1 of service.content.cards" data-animatename="step1" data-animatetime='8'>
          <h3>{{data1.heading}}</h3>
          <p [innerHtml]="data1.text"></p>
        </div>
      </div>

      <div>
        <div *ngIf="service.content.bottompara">
          <p [innerHtml]="service.content.bottompara.text" data-animatename="step1" data-animatetime='5'></p>
        </div>
      </div>

      <div *ngIf="service.content.type == 'text-image2'">
        <div class="flexalign flex flexblock">
          <div class="tablepara flex-1">
            <p [innerHtml]="service.content.tablepara.text" data-animatename="step1" data-animatetime='6'></p>
          </div>

          <div class="table" data-animatename="step1" data-animatetime='7'>
            <table>
              <tr>
                <th>Nutrient</th>
                <th>Average</th>
                <th>Range</th>
              </tr>

              <tr>
                <td>dry matter, %</td>
                <td>89.3</td>
                <td>87.3 - 92.4</td>
              </tr>
              <tr>
                <td>crude protein, %</td>
                <td>30.9</td>
                <td>28.7 - 32.9</td>
              </tr>
              <tr>
                <td>crude fat, %</td>
                <td>10.7</td>
                <td>8.8 - 12.4</td>
              </tr>
              <tr>
                <td>crude fiber, %</td>
                <td>7.2</td>
                <td>5.4 - 10.4</td>
              </tr>
              <tr>
                <td>ash, %</td>
                <td>6.0</td>
                <td>3.0 - 9.8</td>
              </tr>
              <tr>
                <td>swine ME,kcal/kg</td>
                <td>3810</td>
                <td>3504 - 4048</td>
              </tr>
              <tr>
                <td>lysine, %</td>
                <td>0.90</td>
                <td>0.61 - 1.06</td>
              </tr>
              <tr>
                <td>phosphorus, %</td>
                <td>0.75</td>
                <td>0.42 - 0.99</td>
              </tr>
            </table>
          </div>
        </div>
      </div>

    </div> -->
  </div>
  </div>
