<div class="grid-center  fadeIn">
  <div class="rowreverse max-width flex flex-col">
    <div class="header">


      <div>
        <div>
          <div class="header">
            <div class="alignbase" data-animatename="step1" data-animatetime='1'>
              <!-- <div class="{{this.service.data.default.main[1].children[service.parentIndex].mybox}} mybox"></div> -->
              <div>
                <!-- <h1>{{service.content.title.text}}</h1> -->
              </div>

            </div>
          </div>
        </div>
      </div>
    </div>  
    <div class="flex fcenter">
      <h1 class="padding">{{service.content.title.text}}</h1>
      <div class="pad-20">
        <img class="maximg" src="{{service.content.image.src}}">
      </div>
    </div>
    <!-- <div class="row flex-1">
      <div class="column flexblock" *ngFor="let data of this.service.content.content">
        <div class="text">
          <p [innerHtml]="data.text" data-animatename="step1" data-animatetime='2'></p>
        </div>
        <div class="sizeimage" data-animatename="step1" data-animatetime='3'>
          <div class="image">
            <img src="{{data.image.src}}">
          </div>
        </div>
      </div>
    </div> -->
  </div>
</div>
