<div id="text" class="fadeIn pad">
    <div class="flex">
        <div class="content1">

          <div>
            <div class="alignbase">
              <div class="flex1 right-space secondarybox mybox">
          </div>
          <div>
            <h1 >Solution</h1>
         </div>
       </div>

         </div>

            <!-- <h1>Solution</h1> -->
            <p>Isabela evaluated the cows and the diet. The evaluation revealed there was too much starch in the 
                diet, so she focused much of her solution on adjusting the diet.</p>
            <p>She used dairy MAX to adjust the diet focusing mostly on rumen function (adjusted total 
                starch, Rumen Health Index, RDP and forage inclusion rate). She also adjusted the required 
                energy (NEI Dairy) and protein (DDAA) needed.</p>
            <img src="assets/solution1.png">
        </div>
        <div class="content2 pad-20">

          <div>
            <div class="alignbase">
              <div class="flex1 right-space secondarybox mybox"> 
          </div>
          <div>
            <h1 >Results</h1>
         </div>
       </div>

         </div>
            <!-- <h1>Results</h1> -->
            <ul>After adjusting the diet in dairy MAX the results were positive:
                <li>Manure score went from 2 to 3 after 16 days.</li>
                <li>Milk yield increased from 33.5 liters to 37.9 liters per cow/day.</li>
                <li>Feeding costs were reduced in each group</li>
            </ul>
            <div class="table" >
                <table>
                  <tr>
                    <th class="first-row">Costs of diet (cow/day)(USD)</th> 
                  </tr>
                  <tr>
                    <th></th>
                    <th>Previous</th>
                    <th>Current</th>
                    <th>Difference</th>
                  </tr>
    
                  <tr>
                    <td><b>Group 1</b></td>
                    <td>6.62</td>
                    <td>5.73</td>
                    <td>-0.89</td>
                  </tr>
                  <tr>
                    <td><b>Group 2</b></td>
                    <td>5.16</td>
                    <td>4.60</td>
                    <td>-0.55</td>
                  </tr>
                  <tr>
                    <td><b>Group 3</b></td>
                    <td>4.08</td>
                    <td>3.14</td>
                    <td>-0.93</td>
                  </tr>
                </table>
              </div>
        </div>
    </div>
</div>