@import '../../variable';
$width: 20px;

.menuhead {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #fff;
  position: relative;
  z-index: 5;
}

.bg {
  position: absolute;
  height: 100%;
  width: 100%;
  background: #005F86;
  opacity: .9;
  margin-top: -20px;
  margin-left: -20px;
}

.menu {
  position: relative;
  z-index: 5;
  //position: absolute;
  display: flex;
  flex-direction: column;
  text-align: left;
  width: calc(100% + 20px);

  bottom: 0;
  font-size: 16px;
  font-weight: 100;
  color: #fff;
  //padding: 20px 117px;
  border-top: 5px solid #fff;
  margin-left: -20px;
  margin-top: 20px;
  padding-right: 10px;
  height: 70vh;
  justify-content: space-evenly;

  .item {
    margin: 20px;
    transform: scale(1);
    transition: opacity 0.5s, transform 0.5s;
    cursor: pointer;

    svg {
      &.fillsvg {
        transition: left 0.5s, top 0.5s;
        left: 5px;
        top: 5px;
      }
    }


    &:hover,
    &.active {
      opacity: 1;
      transform: scale(1);

      .box {
        svg {
          &.fillsvg {
            left: 0;
            top: 0;
          }

          rect.fill {
            width: $width;
            height: $width;
          }
        }
      }
    }

    .box {
      width: $width;
      height: $width;
      position: relative;
      transform: rotate(45deg);
      margin-right: 20px;

      svg {
        width: $width;
        height: $width;
        position: absolute;

        rect.fill {
          width: $width/2;
          height: $width/2;
          fill: #fff;



          transition: width 0.5s,
            height 0.5s, x 0.5s,
            y 0.5s;
        }

        rect.line {
          width: $width;
          height: $width;
          stroke: #fff;
          stroke-width: 3px;

        }

      }
    }
  }
}


.menu-icon {

  cursor: pointer;

  .dash {
    width: 30px;
    height: 3px;
    margin: 7px;
    background-color: #fff;

    &:nth-child(2) {
      margin-left: 15px;
      width: 20px;
    }

    &:nth-child(3) {
      margin-left: 20px;
      width: 15px;
    }
  }
}
