<div id="text" class="grid-center fadeIn"> 
    <div class="flex">
        <div class="content1 padding">
          <div>
            <div class="alignbase">
              <div class="flex1 right-space secondarybox mybox">
          </div>
          <div>
            <h1 >Solution</h1>
         </div>
       </div>

         </div>
            <!-- <h1>Solution</h1> -->
            <p>Xingming reviewed body condition, Days in Milk (DIM), and the lactating curve of the herd. 
                Seeing low MUN, they needed to increase the RDP to get enough nitrogen in the rumen for 
                bacteria to grow and work properly.</p>
            <p>To address these issues, they decided to feed low producing cows the high group diet without 
                by-passing fat.</p>
            <img src="assets/solution2.png">
        </div>
        <div class="content2 padding">
            

            <div>
              <div class="alignbase">
                <div class="flex1 right-space secondarybox mybox">
            </div>
            <div>
              <h1 >Results</h1>
           </div>
         </div>
  
           </div>
            <!-- <h1>Results</h1> -->
            <ul>Changing the diet increased the NEL DAIKG and Adjusted Protein.
                <li>After changing the diet, the MUN increased from 10.2 mg/dL to 11.5 mg/dL.</li>
                <li>The milk production increased from 38.6 kg/cow/day to 40.2 kg/cow/day.</li>
                <li>And the milk fat increased from 3.4% to 3.6%.</li>
            </ul>

            <div class="table" >
              <table>
                <tr>
                  <th>Nutrients/Outputs</th>
                  <th>Low group diet</th> 
                  <th>High group diet</th>
                </tr>
  
                <tr>
                  <td><b>NEL DAIKG</b></td>
                  <td>1.65</td>
                  <td>1.78</td>
                </tr>
                <tr>
                  <td><b>Adj protein</b></td> 
                  <td>16.3%</td>
                  <td>17.2%</td>
                </tr>
              </table>
          </div><br>
        </div>
    </div>
</div>