<div class="absolute" *ngIf="service.page != 0">
  <div class="flex flex-col fcenter" *ngIf = "service.shownavigation == true">
    <div class="top" (click)="service.previous()">
      <img src="assets/top.png" alt="Top">
    </div>

    <div class="indicator">
      <div class="box">
        <svg>
          <rect class="bg-line" x="0" y="0" fill="none"></rect>
        </svg>
        <svg>
          <rect [ngStyle]="{'stroke-dashoffset' : (160 - service.percentage * 160) }" id="line" class="line" x="0" y="0"
            fill="none">
          </rect>
        </svg>
        <svg>
          <rect class="fill" x="10" y="10" fill="none"></rect>
        </svg>
      </div>
    </div>

    <div class="bottom" (click)="service.next()" [ngClass]="{'animate_arrow' : service.showNav}"
      *ngIf="service.page < service.totalLength - 1">
      <img src="assets/top.png" alt="Bottom">
    </div>


  </div>
</div>
