<div class="grid-center  fadeIn">
  <div class="imageonly">


    <div>
      <div>

        <div class="header">


          <div class="alignbase" data-animatename="step1" data-animatetime='1'>
            <div class="{{this.service.data.default.main[1].children[service.parentIndex].mybox}} mybox"></div>
            <div>
              <h1>{{service.content.title.text}}</h1>

            </div>

          </div>

        </div>
      </div>

    </div>
    <!-- <p (click)="next(selectedimage)">next</p> -->
    <div class="imagecontent " data-animatename="step1" data-animatetime='2.5'>
      <div class="flexbetween flex flexblock">
        <div class="image flex-1">
          <img src="{{service.content.image[3].src}}">
        </div>
        <div class="image flex-1">
          <img src="{{service.content.image[1].src}}">
        </div>
      </div>
      <div>
        <div class="image">
          <img src="{{service.content.image[0].src}}">
        </div>
      </div>
      <div class="flexbetween flex flexblock">
        <div class="image flex-1">
          <img src="{{service.content.image[2].src}}">
        </div>
        <div class="image flex-1">
          <img src="{{service.content.image[4].src}}">
        </div>
      </div>
    </div>


  </div>
</div>
