<div class="grid-center  fadeIn">
  <div class="tablecontent max-width">
    <div class="aligntablecontent">

      <div>
        <div>

          <div class="header text-center">


            <div class="alignbase" data-animatename="step1" data-animatetime='1'>
              <div class="{{this.service.data.default.main[1].children[service.parentIndex].mybox}} mybox"></div>
              <div>
                <h1>{{service.content.title.text}}</h1>

              </div>

            </div>

          </div>
        </div>

      </div>


      <div class="tabledata">
        <div class="table" data-animatename="step1" data-animatetime='2'>
          <table class="maintable">
            <tr>
              <th class="empty">
                <div class="thheight"></div>
              </th>
              <th colspan="2" class="borderright background">
                <div>NUTRIENT SUPPLY</div>
              </th>
              <th class="borderright background">
                <div class="">DIET FORMULATION</div>
              </th>
              <th colspan="2" class="background">
                <div>NUTRIENT DEMAND</div>
              </th>
            </tr>

            <tr>
              <td></td>
              <td class="silver">
                <div class="">Raw material analysis</div>
              </td>
              <td class="borderright silver">
                <div class="">Data management, analysis,
                  decision making</div>
              </td>
              <td class="borderright silver">
                <div class="">Diet optimization</div>
              </td>
              <td class="silver">
                <div class="">Nutritional program and
                  product design</div>
              </td>
              <td class="silver">
                <div class="">Animal monitoring and
                  feedback</div>
              </td>

            </tr>


            <tr>
              <td rowspan="4" class="borderright greenhead">
                <div class="">
                  <div class="boldtext">Products</div>
                  <p>These products deliver CNS value directly to customers or can potentially serve as feedback inputs
                    for CNS.</p>
                </div>
              </td>
              <td colspan="2" class="borderright">
                <div class="green flexbetween">
                  <div>Supplier Selection (Reveal)</div>
                  <img src="assets/star1.png">
                </div>

              </td>
              <td colspan="2">
                <div class="green flexbetween">
                  <div>Economic Modeling (MAX, CoreDiet)</div>
                  <img src="assets/star1.png">
                </div>
              </td>
              <td>
                <div class="green">Agriness</div>
              </td>
            </tr>


            <tr>
              <td colspan="2" class="borderright">
                <div class="green flexbetween">
                  <div>NIR</div>
                  <img src="assets/star1.png">
                </div>
              </td>
              <td class="borderright">
                <div class="green flexbetween">
                  <div>Feed Formulation (NC, Ara, Brill)</div>
                  <img src="assets/star1.png">
                </div>
              </td>
              <td></td>
              <td>
                <div class="green">Cainthus</div>
              </td>
            </tr>

            <tr>
              <td colspan="2" class="borderright">
                <div class="green flexbetween">
                  <div>Nutrient Analysis</div>
                  <img src="assets/star1.png">
                </div>
              </td>
              <td class="borderright"></td>
              <td></td>
              <td></td>
            </tr>

            <tr>
              <td></td>
              <td class="borderright"></td>
              <td colspan="2">
                <div class="green">MAX/TechbroFlex/TechLay</div>

              </td>
              <td></td>
            </tr>



            <tr>
              <td rowspan="7" class="borderright bluehead">
                <div class="">
                  <div class="boldtext">Internal Capabilities & Service Offerings</div>
                  <p>These internal capabilities support offerings directly or act as a tool
                    for consultants to leverage as a
                    service partner.</p>
                </div>
              </td>
              <td colspan="4">
                <div class="blue">Cargill Nutrient Library</div>
              </td>
              <td></td>
            </tr>


            <tr>
              <td>
                <div class="blue">NIR Calibrations</div>
              </td>
              <td class="borderright">
                <div class="blue">gLIMS</div>
              </td>
              <td colspan="2">
                <div class="blue flexbetween">
                  <div>Diet Design (AAMPS)</div>
                  <img src="assets/star2.png">
                </div>
              </td>
              <td></td>
            </tr>


            <tr>
              <td>
                <div class="blue">Lab Services</div>
              </td>
              <td class="borderright">
                <div class="blue">AutoCalc</div>
              </td>
              <td class="borderright">
                <div class="blue">Bills</div>
              </td>
              <td>
                <div class="blue">Dynamic Blueprints</div>
              </td>
              <td></td>
            </tr>

            <tr>
              <td></td>
              <td class="borderright">
                <div class="blue">OVSdb</div>
              </td>
              <td colspan="3">
                <div class="blue">Panorama</div>
              </td>
            </tr>


            <tr>
              <td></td>
              <td class="borderright">
                <div class="blue">Global Reference</div>
              </td>
              <td class="borderright">
                <div class="blue">MAX/TechbroFlex/TechLay</div>
              </td>
              <td></td>
              <td></td>
            </tr>


            <tr>
              <td></td>
              <td class="borderright">
                <div class="blue">N10</div>
              </td>
              <td class="borderright"></td>
              <td></td>
              <td></td>
            </tr>

            <tr>
              <td colspan="5">
                <div class="blue">Sustainability life-cycle assessment</div>
              </td>
            </tr>

          </table>
        </div>

      </div>
      <div class="alignend" data-animatename="step1" data-animatetime='3'>
        <div class="flexalign">
          <div class="content">
            <img src="assets/star3.png">
            <div>On roadmap to be
              delivered through
              Cargill Nutrition Cloud</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
