<div id="text" class="grid-center fadeIn">
  <div class="text-block max-width flex">

      <div>
        <div class="header">
          <div class=" flex1 right-space ">
          <div class="   flexblock" data-animatename="step1" data-animatetime='1'>
              <div class="alignbase">
                <div>
                 <div class="{{this.service.data.default.main[1].children[service.parentIndex].mybox}} mybox"
                 data-animatename="step1" data-animatetime='1' >
               </div>
                </div>
            <div>
               <h1 class="" [innerHTML]="service.content.title.text"></h1>
           </div>
         </div>
              <div class="flex ">

             <div>
              
            <p [innerHTML]="service.content.para.text"></p>
            <p class="flex-1" [innerHTML]="service.content.para1.text"></p>
            </div>
              <div class="padding-bottom flex-1 pad-20" data-animatename="step1" data-animatetime='1' >
                <img class="" src="{{service.content.image.src}}" alt="{{service.content.image.alt}}">
              </div>
            </div>
            
            <h2 class="text-center" [innerHTML]="service.content.content"></h2>
          </div></div>

        </div>
      </div>



  </div>
