<div id="text" class="grid-center fadeIn">
    <div class="text-block max-width flex">
      <div>
        <div>
          <div class="header">
            <div class="" data-animatename="step1" data-animatetime='1'>
              <div>
                <div class="alignbase">
                  <div class="flex1 right-space primarybox mybox">
              </div>
              <div>
                <h1 >What is the Cargill Nutrition System (CNS)?</h1>
             </div>
             
           </div>
  
             </div>
              <!-- <div class=" flex1 right-space">
                <h1>Lab – Calculated nutrients</h1>
              </div> -->
              <br>
              <div>
                <div class="flex">
                  <div class="" daflex-1ta-animatename="step1" data-animatetime='1'>
                      <!-- <img class="" src="assets/page14_icon2.png" class="maximg"> -->
                     
                    </div>
                    <div class="pad-20"><p>CNS is our connected system of nutrient data, research, and calculation models that customers access via software and consulting services for all species.</p>
                        <div class="pad-20"><h4>CNS helps our customers:</h4>

                        <ul>
                            <li>Test ingredient samples</li>
                            <li>Compare ingredient suppliers</li>
                            <li>Formulate feeds for different life phases</li>
                            <li>Predict animal performance and health</li>
                        </ul>
                        <p>Establishes common nutrient language used across CAN</p></div>
                    </div>
              </div>
              <!-- <p class="pad-20">Calculations in CNS are <b>updated every 6 – 12 months</b> and some of these calculated nutrients are proprietary to Cargill.</p> -->
              </div>
        </div>
      </div>
    </div>
  </div>

