<div id="text" class="grid-center fadeIn">
    <div class="text-block max-width flex">
      <div>
        <div>
          <div class="header">
            <div class="" data-animatename="step1" data-animatetime='1'>
              <div>
                <div class="alignbase">
                  <div class="flex1 right-space primarybox mybox">
              </div>
              <div>
                <h1 >Lab – Calculated nutrients</h1>
             </div>
           </div>
  
             </div>
              <!-- <div class=" flex1 right-space">
                <h1>Lab – Calculated nutrients</h1>
              </div> -->
              <br>
              <div>
                <div class="flex">
                  <div class="" daflex-1ta-animatename="step1" data-animatetime='1'>
                      <!-- <img class="" src="assets/page14_icon2.png" class="maximg"> -->
                     
                    </div>
                    <div class="pad-20"><p>Once the nutrients have been analyzed and defined, they are <b>calculated</b> in an engine called AutoCalc to further describe key values that are not measured in the lab.                </p>
                        <div class="pad-20"><h4>Here is an example:</h4>
                           <p>Energy for lactating dairy cows is expressed as a calculated nutrient known as Net Energy of Lactation (NEL Dairy). This value cannot be measured directly in the lab, it needs to be obtained by:</p> 
                        <ul>
                            <li>Analyzing the ingredient content of protein, NDF, fat, starch, sugar, etc. 
                            </li><li>Predicting the digestibility of these nutrients in the rumen or intestine.
                            </li>
                        </ul>
                        <p>This calculation takes animal and diet characteristics into account and predicts how the nutrients will be metabolized by the animal – or in this case how it is converted into NEL. 
                        </p></div>
                    </div>
              </div>
              <p class="pad-20">Calculations in CNS are <b>updated every 6 – 12 months</b> and some of these calculated nutrients are proprietary to Cargill.</p>
              </div>
        </div>
      </div>
    </div>
  </div>

