<div id="text" class="fadeIn">
    <div class="text-block max-width flex">
      <div>
        <div>
          <div class="header pad-20"> 
            <div class="" data-animatename="step1" data-animatetime='1'>

              <div>
                <div class="alignbase">
                  <div class="flex1 right-space primarybox mybox">
              </div> 
              <div>
                <h1 >Lab – Analyzed nutrients</h1>
             </div>
           </div>
  
             </div>
             
              <div class="flex">
              <div class="" daflex-1ta-animatename="step1" data-animatetime='1'>
                 
                </div>
                <div><p>Two groups of nutrients are <b>analyzed in the lab</b></p>
                    <p>1. Basic nutrients which are commonly used to describe ingredients sent to the lab including:  
                    </p> 
                    <div class="flex">
                    <ul class="font-20"><li>Dry matter</li><li>NDF (Neutral Detergent Fiber)</li><li>Ash
                    </li></ul><ul><li>Protein</li><li>Fat</li></ul></div> 
                    
                </div></div>
                <div class="">
                    <p>2. More specific nutrients are used if the ingredient is a major source of fiber, starch, or protein* and the nutrient content and digestibility needs to be further defined:</p> 
                    <div class="flex">
                    <ul class="font-20"><li>NDF extent (NDF extent of digestion)</li><li>cStarch (Cargill Starch)</li><li>Soluble RDP (Rumen Degradable Protein)
                    <li>IVAAD (In Vitro Amino Acid Digestibility)
                    </li></ul><ul class="font-20"><li>NDF Kd (NDF rate of digestion)
                    </li><li>Rum Sugar (Ruminant Sugar)
                    </li><li>PreRUP (Rumen Undegraded Protein)
                    </li></ul></div></div>
                    
                    <p class="font ">
                        *Other specific nutrients vary by region. For detailed information of key nutrients available in your area, contact your local SMT technical lead.

                    </p>
            
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
