@import "../../variable";

.full-height {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.mr-10 {
  margin-right: 20px;
}

@include md {
  .flex {
    display: block;
  }
}
