<div id="text" class="grid-center fadeIn">
  <div class="text-block max-width flex">

    <div>
      <div class="full-height">

        <div class="header">
          <div class="alignbase">
            <div class="{{this.service.data.default.main[1].children[service.parentIndex].mybox}} mybox"
              data-animatename="step1" data-animatetime='1'></div>
            <div>
              <h1 data-animatename="step1" data-animatetime='1' [innerHTML]="service.content.title.text"></h1>
              <h2 data-animatename="step1" data-animatetime='2'>{{service.content.subtitle.text}}</h2>
            </div>
          </div>
        </div>
        <div class="content  mr-10 flexblock {{service.content.subtype}}">
          <div class="flex-1" [innerHTML]="service.content.content.text" data-animatename="step1" data-animatetime='3'>
          </div>
        </div>
      </div>
    </div>

    <div class="content flex-1 flex flexblock {{service.content.subtype}}">
      <div class="dummyimage flex-1" *ngIf="service.content.image" data-animatename="step1" data-animatetime='3'>
        <img class="width-full" src="{{service.content.image.src}}" alt="{{service.content.image.alt}}">
      </div>
    </div>
  </div>
</div>
