<div class="wrapper">

  <div class="navigate">
    <app-mobile-menu></app-mobile-menu>
    <app-navigate></app-navigate>
  </div>
  <router-outlet></router-outlet>

  <div>
    <app-audiofooter #footer></app-audiofooter>
    <app-footer></app-footer>
  </div>

  <div class="instruction" *ngIf="instr">
    <div class="modal">
      <div class="flex">
        <div class="flex-1">
          <p>This website has audio. Please use your headphone or audio speaker to listen.</p>
        </div>
        <div>
          <img width="50px" src="assets/headphone.svg" alt="Head Phone">
        </div>

      </div>
      <div class="close text-center">
        <button class="button-primary" (click)="close()">Get Started</button>
      </div>
    </div>
  </div>
</div>
