@import '../../variable.scss';

.text-block {
  display: flex;
  flex-direction: column;
}

.content {
  align-items: center;

  .flex-1 {
    margin: 0 20px;
  }
}

.image img{
  margin-top: 40px;
}

.left-image-right-text {
  flex-direction: row-reverse;
}

.dummyimage {
  display: none;
}

@include md {
  .dummyimage {
    display: block;
  }

  .image {
    display: none;
  }
}
.full-width{
  width: 1200px;
}