<div id="text" class="grid-center fadeIn">
  <div class="text-block flex">

    <div>
      <div>

        <div class="header">
          <div class="flex-1   flexblock fcenter" data-animatename="step1" data-animatetime='1'>
            <!-- <div>
            <h4 class="" [innerHTML]="service.content.image.intro"></h4>
            <div class="" [innerHTML]="service.content.subcontent" data-animatetime='2'></div>
            </div> -->

            <div>
              <div class="alignbase">
                <div>
                 <div class="{{this.service.data.default.main[1].children[service.parentIndex].mybox}} mybox"
                 data-animatename="step1" data-animatetime='1' >
               </div>
                </div>
            <div>
               <h1 class="" [innerHTML]="service.content.image.intro"></h1>
               <p class="" [innerHTML]="service.content.image.subtext"></p>
           </div>
         </div> 
          
           </div>




            <div class="padding-bottom mt" data-animatename="step1" data-animatetime='1'>

             <div class="video-box ">
              <video  controls poster="{{service.content.image.poster}}">
                <source src="{{service.content.image.src}}" type="video/mp4">
                
              </video>
             </div>
              
             
            </div>
          </div>
         
        </div>
      </div>

    </div>



  </div>
