<div id="text" class="grid-center fadeIn"> 
  <div class="text-block max-width flex">
    <div>
      <div>
        <div class="header">
          <div class="" data-animatename="step1" data-animatetime='1'> 

            <div>
              <div class="alignbase">
                <div class="flex1 right-space primarybox mybox">
            </div>
            <div>
              <h1 >Analyzed & Calculated nutrients</h1>
           </div>
         </div>

           </div>
            
            <br>
            <div class="flex">
            <div class="" daflex-1ta-animatename="step1" data-animatetime='1'>
                <img class="flex-1" src="assets/mergeimgp_14.png" class="maximg">
               
              </div>
              <div class="flex-1 pad-20 ">
            <p>Focusing on nutrients helps us fully understand how a pig’s physiology will be affected by new ingredients in the industry. To accurately support animals during each life stage, our nutrients are updated every 6-12 months</p>
            <p>Ingredients tested in Cargill labs are described using two nutrient types.</p>
            <ul>
              <li>Analyzed nutrients</li>
              <li>Calculated nutrients</li>
            </ul>
            <!-- <div class="flex">
               <div><img src="assets/page14_icon1.png"></div>
              <div class="pad-30">
             <h4>Analyzed</h4>
                Basic nutrients measured in the lab that describe the intrinsic chemical characteristics of a feed. 
              </div>
            </div><br> -->

              <!-- <div class="flex">
                   <div><img src="assets/page14_icon2.png"></div>
                  <div class="pad-30"><h4>Calculated</h4>
                Nutrients that further describe key values that are too difficult to be measured in the lab. 
              </div>
            </div> -->
            </div>
          </div>
          </div>
             </div>
      </div>
    </div>
  </div>
</div>
