<div id="text" class="fadeIn pad">
    <div class="flex ">
        <div class="content1 fjcenter fcenter  blue flex-1">
           

                
                <div>
                    <div class="t-white p-20">
                        <h1 class="t-white " [innerHtml]="service.content.title1.text"></h1>
                        <p class="t-white " [innerHtml]="service.content.title1.subtext"></p>
                        
                    </div>
                </div>
            <!-- <div class="ps-20">
                <p [innerHtml]="service.content.para.text"></p>

            </div> -->
            <!-- <div class="flex fjcenter">
                <img src="{{service.content.image.src}}">
            </div> -->
        </div>

        <div class="green flex-1">

            <div>
                <div>
                
                    <p class="t-white" [innerHtml]="service.content.para.text"></p>
                    
                </div>
    
                <div class="flex">
                    <div class="flex-1"><img src="{{service.content.image.src1}}"></div>
                    <div class="flex-1"></div>
                </div>
                <div class="flex">
                    <div class="flex-1"></div>
                    <div class="flex-1"><img src="{{service.content.image.src2}}"></div>
                </div>
                <!-- <div>
                    <div class="video-box" *ngIf="service.content.video">
                        <video controls poster="{{service.content.video.poster}}">
                            <source src="{{service.content.video.src}}" type="video/mp4">
                        </video>
                    </div>
                </div> -->
    
                <!-- <div class="content2" *ngIf="service.content.title1 && service.content.para1">
                    <h1 class="t-white" [innerHtml]="service.content.title1.text"></h1>
                    <p [innerHtml]="service.content.para1.text"></p>
                </div> -->
            </div>
            
        </div>
    </div>

</div>




